/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
.container{
  display: flex;
  height: 100vh;
  margin: 10px;
  border: 1px solid #e0e0e0;
}

/* サイドバーに関連するスタイルを書いてください */
aside{
  width: 20%;
  flex-shrink:0;
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
  
  height: 100%;
}
.aside-header{
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
aside p{
  font-size: 16px;
  font-weight: bold;
  color: #30678f;
  display: inline-block;
}

.logo{
  font-size: 16px;
  color: #30678f;
  text-decoration: none;
}

/* メインコンテンツに関連するスタイルを書いてください */
main{
  
  height: 100%;
  width: 80%;
}
.main-header{
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  padding-bottom: 50px;
}
.profile-icon{
  background-color: #30678f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
 
}
.icon{
  display: inline-block;
  margin-top: 17px;
  font-size: 25px;
  color: white;
}
.main-header h1{
  font-size: 24px;
  margin-top: 10px;
}
.main-header p{
  font-size: 16px;
  margin-top: 10px;
  opacity: 0.6;
}
.message-wrapper{
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}
.message-wrapper p{
  font-size: 14px;
  line-height: 1.5;
  padding-bottom : 20px;
  opacity: 0.6;
}