/* cyrillic-ext */	/* ブラウザで設定されているスタイルのリセット・共通設定 */
@font-face {	/* 消さないでください */
  font-family: 'Inter';	*,
  font-style: normal;	*::before,
  font-weight: 400;	*::after {
  font-display: swap;	  box-sizing: border-box;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');	}
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;	body,
}	h1,
/* cyrillic */	h2,
@font-face {	h3,
  font-family: 'Inter';	p,
  font-style: normal;	ul,
  font-weight: 400;	li,
  font-display: swap;	form,
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');	input,
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;	textarea,
}	select,
/* greek-ext */	button {
@font-face {	  margin: 0;
  font-family: 'Inter';	  padding: 0;
  font-style: normal;	  font-family: sans-serif;
  font-weight: 400;	}
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');	ul {
  unicode-range: U+1F00-1FFF;	  list-style: none;
}	}
/* greek */	
@font-face {	/* スタイルのリセット終了 */
  font-family: 'Inter';	
  font-style: normal;	/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
  font-weight: 400;	.container{
  font-display: swap;	  display: flex;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');	  height: 100vh;
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;	  margin: 10px;
}	  border: 1px solid #e0e0e0;
/* vietnamese */	}
@font-face {	
  font-family: 'Inter';	/* サイドバーに関連するスタイルを書いてください */
  font-style: normal;	aside{
  font-weight: 400;	  width: 20%;
  font-display: swap;	  flex-shrink:0;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');	  background-color: #f5f5f5;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;	  border-right: 1px solid #e0e0e0;
}	
/* latin-ext */	  height: 100%;
@font-face {	}
  font-family: 'Inter';	.aside-header{
  font-style: normal;	  padding: 20px;
  font-weight: 400;	  border-bottom: 1px solid #e0e0e0;
  font-display: swap;	}
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');	aside p{
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;	  font-size: 16px;
}	  font-weight: bold;
/* latin */	  color: #30678f;
@font-face {	  display: inline-block;
  font-family: 'Inter';	}
  font-style: normal;	
  font-weight: 400;	.logo{
  font-display: swap;	  font-size: 16px;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');	  color: #30678f;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;	  text-decoration: none;
}	}
/* cyrillic-ext */	
@font-face {	/* メインコンテンツに関連するスタイルを書いてください */
  font-family: 'Inter';	main{
  font-style: normal;	
  font-weight: 600;	  height: 100%;
  font-display: swap;	  width: 80%;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');	}
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;	.main-header{
}	  padding: 20px;
/* cyrillic */	  border-bottom: 1px solid #e0e0e0;
@font-face {	  text-align: center;
  font-family: 'Inter';	  padding-bottom: 50px;
  font-style: normal;	}
  font-weight: 600;	.profile-icon{
  font-display: swap;	  background-color: #30678f;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');	  border-radius: 50%;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;	  width: 60px;
}	  height: 60px;
/* greek-ext */	  margin: 0 auto;
@font-face {	
  font-family: 'Inter';	}
  font-style: normal;	.icon{
  font-weight: 600;	  display: inline-block;
  font-display: swap;	  margin-top: 17px;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');	  font-size: 25px;
  unicode-range: U+1F00-1FFF;	  color: white;
}	}
/* greek */	.main-header h1{
@font-face {	  font-size: 24px;
  font-family: 'Inter';	  margin-top: 10px;
  font-style: normal;	}
  font-weight: 600;	.main-header p{
  font-display: swap;	  font-size: 16px;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');	  margin-top: 10px;
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;	  opacity: 0.6;
}	}
/* vietnamese */	.message-wrapper{
@font-face {	  padding: 20px;
  font-family: 'Inter';	  width: 60%;
  font-style: normal;	  margin: 0 auto;
  font-weight: 600;	}
  font-display: swap;	.message-wrapper p{
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');	  font-size: 14px;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;	  line-height: 1.5;
}	  padding-bottom : 20px;
/* latin-ext */	  opacity: 0.6;
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 600;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');	
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;	
}	
/* latin */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 600;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');	
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;	
}	
/* cyrillic-ext */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');	
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;	
}	
/* cyrillic */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');	
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;	
}	
/* greek-ext */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');	
  unicode-range: U+1F00-1FFF;	
}	
/* greek */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');	
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;	
}	
/* vietnamese */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');	
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;	
}	
/* latin-ext */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');	
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;	
}	
/* latin */	
@font-face {	
  font-family: 'Inter';	
  font-style: normal;	
  font-weight: 700;	
  font-display: swap;	
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');	
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;	
}	}
Footer
